
h1 {
    color: red;
    font-size: 32px;
}
.verde{
    color: green;
    font-size: 28px;
}
.vermelho{
    color: red;
    font-size: 16px;
}
.amarelo{
    color: yellow;
    font-size: 16;
}
.preto{
    color: black;
    font-size: 16;
}
.azul{
    color: blue;
    font-size: 16;
}
.laranja{
    color:orange;
    font-size: 16;
}