html {
    background-color: snow;
}
h2 {
    color: brown;
    background-color: rgb(98, 100, 96);
}

ul {
    font-size: 27px;
}
 ul li {
    color: darkblue;
}
.preto {
    color: black;
}

.destaque {
    font-size: 27px;
}
#lista-produto{
    background-color: teal;
}